.img {
    float: left;
}

#profile_picture {
    height: 400px;
}

#rotating-box {
    height: 400px;
    margin-left: 30%;
}

.hidden {
    display: none;
}

.button {
    clear: both;
    display: inline-block;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background: #777777; 
    cursor: pointer;
}

#buttons {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.shown {
    background: red;
}

.content-post p {
    margin-top: 3%;
}
